qw-card {
  --qw-card-background: var(--qw-hotel-background);
  
  display: flex;
  flex-direction: column;
  background-color: var(--qw-card-background);
  font-family: var(--qw-hotel-font-family);
}
