qw-card {
  --qw-card-background: red;
  
  display: flex;
  flex-direction: column;
  background-color: var(--qw-card-background);
  padding: var(--qw-hotel-gap-md);
  margin: var(--qw-hotel-gap-sm) 0;
}
