qw-room-list-card {
  --qw-room-list-card-gap: var(--qw-hotel-gap-sm);
  --qw-room-list-card-background: var(--qw-hotel-background);
  --qw-room-list-card-border-radius: 2px;
  
  display: flex;
  flex-direction: column;
  padding: var(--qw-room-list-card-gap);
  background: var(--qw-room-list-card-background);
  border-radius: var(--qw-room-list-card-border-radius);
}

qw-room-list-card h4, qw-room-list-card h6 {
  margin: 0; padding: 0;
}

qw-room-list-card.qw-room-list-card__disabled {
  opacity: var(--qw-hotel-opacity);
  pointer-events: none !important;
}

qw-room-list-card qw-card {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(4, auto);
  width: 100%;
  height: auto;
}

qw-room-list-card.qw-room-list-card--grid qw-card {
  display: flex;
  flex-flow: column;
}

qw-room-list-card qw-card > div {
  margin: calc(var(--qw-hotel-gap-sm) / 2);
}

qw-room-list-card .qw-room-list-card__image {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}

qw-room-list-card .qw-room-list-card__image img {
  width: 100%;
}

qw-room-list-card .qw-room-list-card__title,
qw-room-list-card .qw-room-list-card__descriptions,
qw-room-list-card .qw-room-list-card__prices,
qw-room-list-card .qw-room-list-card__cta {
  grid-column: 2 / 2;
}

qw-room-list-card .qw-room-list-card__title {
  display: flex;
  justify-content: space-between;
  grid-row: 1 / 2;
}
qw-room-list-card .qw-room-list-card__title-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
qw-room-list-card .qw-room-list-card__descriptions {
  grid-row: 2 / 3;
}
qw-room-list-card .qw-room-list-card__prices {
  grid-row: 3 / 4;
}
qw-room-list-card .qw-room-list-card__cta {
  grid-row: 4 / 5;
  align-self: end;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
