qw-book {
  display: flex;
  flex-direction: column;
}

.qw-book__wrapper, .qw-book__error-quote {
  padding: var(--qw-hotel-gap-sm);
}

.qw-book__error-quote {
  border: 1px solid var(--qw-hotel-accent-color);
}

.qw-book__special-requests__title {
  display: flex;
}

.qw-book__special-requests__title h4 {
  margin-right: var(--qw-hotel-gap-md);
}

.qw-book__special-requests__caption {
  font-size: 70%;
  margin-bottom: var(--qw-hotel-gap-md);
}

.qw-book__confirmation-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.qw-book__confirmation-checkbox qw-input {
  width: 50px;
}

.qw-book__form-error {
  margin-top: var(--qw-hotel-gap-md);
  padding: var(--qw-hotel-gap-sm);
  border: 1px solid var(--qw-hotel-accent-color);
}

.qw-book__form-error > ul {
  padding-inline-start: var(--qw-hotel-gap-lg);
}

.qw-book__pay {
  margin-top: var(--qw-hotel-gap-md);
}
