qw-room-rich-info {
  display: block;
}

.qw-room-rich-info__loading-wrapper {
  position: relative;
}

.qw-room-rich-info--loaded .qw-room-rich-info__loading-wrapper {
  display: none;
}

.qw-room-rich-info__info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.qw-room-rich-info__amenities-trigger {
  cursor: pointer;
}

.qw-room-rich-info__info qw-room-base-info {
  margin-right: var(--qw-hotel-gap-md);
}
