.qw-button {
  --qw-button-color: var(--qw-hotel-neutral-dark);
  --qw-button-background: var(--qw-hotel-secondary-color);
  --qw-button-border: 1px solid var(--qw-button-color);
  --qw-button-gap: var(--qw-hotel-gap-sm);
  --qw-button-border-radius: 2px;

  cursor: pointer;
  padding: var(--qw-button-gap);
  color: var(--qw-button-color);
  background: var(--qw-button-background);
  border: var(--qw-button-border);
  border-radius: var(--qw-button-border-radius);
  justify-content: center;
  align-items: center;
  display: flex;
}

.qw-button.qw-button--disabled {
  opacity: var(--qw-hotel-opacity);
  pointer-events: none !important;
}

.qw-button.qw-button--icon {
  padding: var(--qw-hotel-gap-md);
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.qw-button qw-loading {
  margin-right: var(--qw-button-gap);
}
