qw-room-base-info {
  display: block;
}
.qw-room-base-info__person-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.qw-room-base-info__person-icon span {
  width: 20px;
  height: 20px;
  background: url('img/person.svg') no-repeat center;
  background-size: 17px 17px;
}
