qw-room-rate {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: var(--qw-hotel-gap-sm);
}

.qw-room-rate__title {
  width: 35%;
}

.qw-room-rate__price {
  width: 18%;
}

.qw-room-rate__taxes {
  font-size: var(--qw-hotel-small-font-size);
}

qw-room-rate label {
  width: 20%;
  text-align: center;
}

qw-room-rate .qw-button {
  width: 25%;
}

.qw-room-rate__conditions {
  width: 100%;
  font-size: var(--qw-hotel-small-font-size);
}

.qw-room-rate__occupancy {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.qw-room-rate__occupancy span {
  width: 20px;
  height: 20px;
  background: url('img/person.svg') no-repeat center;
  background-size: 17px 17px;
}
