qw-room-card {
  --qw-room-card-gap: var(--qw-hotel-gap-sm);
  --qw-room-card-background: var(--qw-hotel-background);
  --qw-room-card-border-radius: 2px;

  display: flex;
  flex-direction: column;
  padding: var(--qw-room-card-gap);
  background: var(--qw-room-card-background);
  border-radius: var(--qw-room-card-border-radius);
}

qw-room-card .qw-room-card__caption, qw-room-card .qw-room-card__title {
  margin: var(--qw-room-card-gap) 0;
}

.qw-room-card__header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--qw-hotel-gap-sm);
}

.qw-room-card__header, .qw-room-card__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.qw-room-card__footer-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qw-room-card__footer-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 12px;
  /*  todo fare veriabili e meglio */
}

qw-room-card.qw-room-card__disabled {
  opacity: var(--qw-hotel-opacity);
  pointer-events: none !important;
}
