qw-room-card {
  --qw-room-card-gap: var(--qw-hotel-gap-sm);
  --qw-room-card-background: var(--qw-hotel-background);
  --qw-room-card-border-radius: 2px;

  display: flex;
  flex-direction: column;
  padding: var(--qw-room-card-gap);
  background: var(--qw-room-card-background);
  border-radius: var(--qw-room-card-border-radius);
}

.qw-room-card__header, .qw-room-card__footer {
  display: flex;
  justify-content: space-between;
}

qw-room-card.qw-room-card__disabled {
  opacity: var(--qw-hotel-opacity);
  pointer-events: none !important;
}
