qw-room-card {
  display: flex;
  flex-direction: column;
}

.qw-room-card__header, .qw-room-card__footer {
  display: flex;
  justify-content: space-between;
}

qw-room-card.qw-room-card__disabled {
  opacity: .5;
  pointer-events: none !important;
}
