qw-room-rates {
  display: flex;
  flex-direction: column;
}

.qw-room-rates--card {
  overflow: scroll;
}

.qw-room-rates--card .qw-room-rates__wrapper {
  display: flex;
}

.qw-placeholder {
  width: 100%;
  height: 44px;
  border-radius: 4px;
  background-color: var(--qw-hotel-neutral-medium);
}

.qw-placeholder__wrapper {
  display: flex;
}

.qw-placeholder--card {
  margin-right: var(--qw-hotel-gap-sm);
  height: var(--qw-room-rate--card--min-height);
  min-width: var(--qw-room-rate--card--min-width);
  max-width: var(--qw-room-rate--card--max-width);
}
