qw-language {
  display: flex;
}

qw-language[qw-language-type="dropDown"] {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.qw-select__qw-language, .qw-language__drop-down__current {
  background: url('https://hotels-booking-engine.qwentes.it/versions/v1/img/icons/arrow-select.svg') no-repeat right;
  background-size: 15px;
}

qw-language select, .qw-language__drop-down__list span {
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left;
  background-color: transparent;
}

qw-language select.en-US, .qw-language__drop-down__list span.en-US {
  background-image: url('https://hotels-booking-engine.qwentes.it/versions/v1/img/flags/en-US.png');
}
qw-language select.fr-FR, .qw-language__drop-down__list span.fr-FR {
  background-image: url('https://hotels-booking-engine.qwentes.it/versions/v1/img/flags/fr-FR.png');
}
qw-language select.it-IT, .qw-language__drop-down__list span.it-IT {
  background-image: url('https://hotels-booking-engine.qwentes.it/versions/v1/img/flags/it-IT.png');
}
qw-language select.es-ES, .qw-language__drop-down__list span.es-ES {
  background-image: url('https://hotels-booking-engine.qwentes.it/versions/v1/img/flags/es-ES.png');
}
qw-language select.de-DE, .qw-language__drop-down__list span.de-DE {
  background-image: url('https://hotels-booking-engine.qwentes.it/versions/v1/img/flags/de-DE.png');
}

qw-language select {
  padding: 10px 30px 10px 0;
  appearance: none;
  outline: none;
  border: none;
  width: 45px;
  color: transparent;
}

.qw-language__drop-down__current {
  cursor: pointer;
  padding: var(--qw-hotel-gap-md) var(--qw-hotel-gap-lg) var(--qw-hotel-gap-md) var(--qw-hotel-gap-sm);
  text-transform: uppercase;
}

.qw-language__drop-down__list {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: var(--qw-hotel-gap-sm);
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 2;
  background-color: var(--qw-hotel-neutral-medium);
}

.qw-language__drop-down__list::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent var(--qw-hotel-neutral-medium) transparent;
}

.qw-language__drop-down__list:hover {
  display: flex;
}

.qw-language__drop-down__current:hover ~ .qw-language__drop-down__list {
  display: flex;
}

.qw-language__drop-down__list span {
  padding: calc(var(--qw-hotel-gap-sm) / 2);
  padding-left: var(--qw-hotel-gap-lg);
}
