qw-language {
  display: flex;
}

.qw-select__qw-language {
  background: url('https://hotels-booking-engine.qwentes.it/versions/v1/img/icons/arrow-select.svg') no-repeat right;
  background-size: 15px;
}

qw-language select {
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left;
  background-color: transparent;
}

qw-language select.en-US {
  background-image: url('https://hotels-booking-engine.qwentes.it/versions/v1/img/flags/en-US.png');
}
qw-language select.fr-FR {
  background-image: url('https://hotels-booking-engine.qwentes.it/versions/v1/img/flags/fr-FR.png');
}
qw-language select.it-IT {
  background-image: url('https://hotels-booking-engine.qwentes.it/versions/v1/img/flags/it-IT.png');
}
qw-language select.es-ES {
  background-image: url('https://hotels-booking-engine.qwentes.it/versions/v1/img/flags/es-ES.png');
}
qw-language select.de-DE {
  background-image: url('https://hotels-booking-engine.qwentes.it/versions/v1/img/flags/de-DE.png');
}

qw-language select {
  padding: 10px 30px 10px 0;
  appearance: none;
  outline: none;
  border: none;
  width: 45px;
  color: transparent;
}
